<div class="container p-2 bg-light mt-5">
  <h2 class="text-center m-3">Users List</h2>
  <table class="table bg-light p-2">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Account Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td scope="row">{{userName}}</td>
        <td>{{email}}</td>
        <td>{{mobile}}</td>
        <td>{{status}}</td>
        <td><a href="/block-user/{{_id}}" class="btn btn-danger">Block</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>